@page
@model AudreSource.Pages.CreateRoleModel
@{
}

<h4> Create Roles</h4>
<div class="card">
 
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="RoleInfo.Role"></label>
                <input asp-for="RoleInfo.Role" class="form-control" />
                <span asp-validation-for="RoleInfo.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleInfo.RoleDescription"></label>
                <input asp-for="RoleInfo.RoleDescription" class="form-control" />
                <span asp-validation-for="RoleInfo.RoleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-secondary" asp-page="/RolesList">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}