@page "{id:int?}" 
@model AudreSource.Pages.CreateUsers
@{
    ViewData["Title"] = Model.User.UsersID == 0 ? "Create User" : "Edit User";
}

<h2>Create User</h2>
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="container">
                <input type="hidden" asp-for="User.UsersID" />
                <div class="row mb-3">
                    <div class="col">
                        <label for="FirstNames" class="form-label">First Name</label>
                        <input type="text" id="FirstNames" class="form-control" asp-for="User.FirstNames">
                        <span asp-validation-for="User.FirstNames" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label for="Surname" class="form-label">Surname</label>
                        <input type="text" id="Surname" class="form-control" asp-for="User.Surname">
                        <span asp-validation-for="User.Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="MobileNumber" class="form-label">Mobile Number</label>
                        <input type="number" id="MobileNumber" class="form-control" asp-for="User.MobileNumber">
                        <span asp-validation-for="User.MobileNumber" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label for="Position" class="form-label">Position</label>
                        <input type="text" id="Position" class="form-control" asp-for="User.Position">
                        <span asp-validation-for="User.Position" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="EmailAddress" class="form-label">Email Address</label>
                        <input type="email" id="EmailAddress" class="form-control" asp-for="User.EmailAddress">
                        <span asp-validation-for="User.EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label for="Password" class="form-label">Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="Password" class="form-control" asp-for="User.Password">
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                            <div class="input-group-text" data-password="false">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Save User</button>
                        <a class="btn btn-secondary" asp-page="/UsersList">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}